* {
  box-sizing: border-box;
}

.border {
  border: thick dashed #382C4C;
}

.background {
  background-color: #A393BF;
}

.borderb {
  border: thick dotted #1D3B8B;
}

.backgroundb {
  background-color: #718FE1;
}

.borderg {
  border: thick dotted #59633A;
}

.backgroundg {
  background-color: #ADB988;
}

.bordert {
  border: thick dotted #3A6359;
}

.backgroundt {
  background-color: #88B9AD;
}

.borderp {
  border: thick dotted #F08577;
}

.backgroundp {
  background-color: #F6B6AD;
}

.bordero {
  border: thick dotted #FF6C00;
}

.backgroundo {
  background-color: #FFAA6C;
}

.borderbl {
  border: thick dotted #000000;
}

.backgroundbl {
  background-color: #818181;
}

.bordery {
  border: thick dotted #FFB200;
}

.backgroundy {
  background-color: #FFE19B;
}

.borderbr {
  border: thick dotted #582900;
}

.backgroundbr {
  background-color: #B48D6B;
}

.borderdg {
  border: 3px solid #023E2D;
  padding: 15 px;
}

.backgrounddg {
  background-color: #047E5B;
}

.borderm {
  border: 6px solid #911A53;
}

.backgroundm {
  background-color: #C42370;
}

a:link, a:hover, a:visited, a:active {
  color: #F0F0F0;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}
